
/* ---------------------  general  ---------------------- */
#outer
{
	border-color: #ffffff;
	color: #000000;
	background-color: #ffffff;
}
a:link, a:visited
{
	color: #000099;
}
a:hover, a:active
{
	color: #0066ff;
}
h1
{
	border-color: #FFD659;
}
/* ---------------------  branding  --------------------- */
.branding
{
	color: #ffffff;
	background-color: #012861; /*banner default color*/
}
.branding a:link, .branding a:visited
{
	color: gray;
}
.branding a:hover, .branding a:active
{
	color: gray;
}

/* ---------------------  top menu  --------------------- */
#top-menu
{
	background-color: #012861; /*nav bar background color*/
}
#top-menu td
{
	border-color: #adc6dd; /*nav bar separator*/
}
#top-menu td.active
{
	background-color: #83abd0; /*nav bar background color for active page*/
}
#top-menu td.hover
{
	background-color: #4571b2; /*nav bar top level rollover color*/
}
#top-menu table a:link, #top-menu table a:visited
{
	color: #ffffff;
}
#top-menu td.hover a
{
	color: #ffffff;
}
#top-menu table a.active
{
	color: #ffffff;
}
#top-menu table a:hover, #top-menu table a:active
{
	color: #ffffff;
}

/* ---------------------  drop menus  ------------------- */
div.ddm
{
	background-color: #b5d0e8; /*nav bar second level color*/
}
ul.dm li
{
	border-top-color: #ffffff;
}
ul.dm li a:link, ul.dm li a:visited
{
	color: #284a5e; /*nav bar second level txt color*/
}
ul.dm li a:hover, ul.dm li a:active
{
	color: #1b3f55; /*nav bar second level txt color on rollover*/
	background-color: #83abd0; /*nav bar second level rollover color*/
}
/* ---------------------  layout  ----------------------- */
#main
{
	background-color: gray;
}
