{% extends 'passport/base.html' %}
{% load cache pages_tags %}
{% load_pages %}
{% block leftcolsub %}
    {% if current_page %}
    <div style="width:70%">
        <h3>title placeholder 
            <div id="title" class="placeholder">{% placeholder title on current_page with TextInput %}</div>
        </h3>
        <div>body placeholder
            <div id="body" class="placeholder">{% placeholder body with RichTextarea %}</div>
            {% imageplaceholder body-image as imgsrc %}
            {% if imgsrc %}
                <img src="{{ MEDIA_URL }}{{ imgsrc }}" alt=""/>
            {% endif %}
        </div>

        <div id="content2" class="placeholder">
        {% placeholder content2 %}
        </div>

    </div>
    {% endif %}
{% endblock %}