<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head
 id="pageHead">
<style type="text/css"></style>
<title>Drexel University | Cultural Passport</title>
<meta id="ctl01" http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta id="ctl02" name="CODE_LANGUAGE" content="C#">
<meta id="ctl03" name="vs_defaultClientScript" content="JavaScript">
<meta id="ctl04" name="vs_targetSchema" 
content="http://schemas.microsoft.com/intellisense/ie5">
<link rel="canonical" href="http://drexel.edu/passport/">
<link rel="stylesheet" type="text/css" href="/media/styles/default.css">
<link rel="stylesheet" type="text/css" href="/media/styles/subpage.css">
<link rel="Stylesheet" type="text/css" href="/media/styles/colors.css">
<script type="text/javascript" language="javascript" src="/media/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="/media/js/jquery.hoverIntent.js"></script>
<script type="text/javascript" language="javascript" src="/media/js/drexel.js"></script>
<script type="text/javascript" src="/media/js/ibox.js"></script>
{% block head%}
{% endblock%}
<!--[if lt IE 7]> 
        <style>
         img, div, a, input { behavior: url(/sc_scripts/iepngfix.htc) }
        </style>
    <![endif]-->
<link id="SliverStyles" type="text/css" rel="stylesheet" 
href="/media/styles/sliver.css">
<!--[if IE 8]>    <body class="ie8"> <![endif]-->
<!--[if IE 7]>    <body class="ie7"> <![endif]-->
<!--[if IE 6]>    <body class="ie6"> <![endif]-->
<!--[if lt IE 6]> <body class="ie5"> <![endif]-->
<!--[if !IE]>-->  </head><body>             <!--<![endif]-->
<form name="mainform" method="post" action="/passport/" 
id="mainform">
  <div>
  </div>
  <script src="/media/styles/jquery.js" type="text/javascript"></script>
  <script src="/media/js/topmenu.js" type="text/javascript"></script>
  <script type="text/javascript">
//<![CDATA[
$j(document).ready(function() {InitTopMenu();});//]]>
</script>
  <div id="outer">
    <!-- Start: Drexel Sliver -->
    <div id="sliver-container"> <a tabindex="5" href="http://www.drexel.edu/" class="logo"><img 
src="/media/images/drexel-logo-slice.gif" style="border-width: 0pt; 
float: left; margin-left: 12px; margin-top: 0px;" alt="Drexel Home"></a>
      <div id="utility-bar-sliver"> <a tabindex="6" href="http://www.drexel.edu/default.aspx" 
class="none">Drexel Home</a> <a tabindex="7" 
href="http://www.drexel.edu/guide/sitemap/default.aspx">Site Map</a> &nbsp; <span id="pageplaceholder_0_DrexelSliver_spanSearchContainer">
        <input class="search-box" id="tbSearch" name="tbSearch" 
tabindex="8" size="12" title="Search drexel.edu" value="Search..." 
type="text">
        &nbsp; <a id="lnkSearch" class="tight none" 
href="javascript:%20SearchClick();" tabindex="9"> <img src="images/round-yellow-button.png" alt="Go" 
style="border-width: 0pt;" class="nudge hover"> </a> </span> &nbsp;&nbsp;
        <select tabindex="10" style="width: 172px;" id="sbGoTo" title="Go to 
common destinations.">
          <option selected="selected" value="">Go to...</option>
          <option value="http://www.drexel.edu/academics/schools.aspx">Colleges
          &amp; Schools</option>
          <option value="http://www.drexel.edu/about/offices-departments.aspx">Office
          &amp; Departments</option>
          <option value="http://www.drexel.edu/student-life/departments.aspx">Student
          Depts &amp; Services</option>
          <option value="http://www.drexel.edu/about/contact/general.aspx">Contact
          Directories</option>
        </select>
        <a href="#" onclick="this.href = $j('#sbGoTo').val();" tabindex="11" 
class="tight none"> <img src="images/round-yellow-button.png" alt="Go" 
style="border-width: 0pt;" class="nudge hover"> </a> </div>
      <div class="micro-site-sliver-divider">
        <!-- -->
      </div>
    </div>
    <script type="text/javascript" src="/media/js/sliver.js"></script>
    <!-- End: Drexel Sliver -->
    <!-- Start: Branding Bar Control -->
    <div  class="branding" style=" background-image:url(/media/images/logo_003.jpg);Height:153px;"><!--***placeholder; height is variable-->
    </div>
    <!-- End: Branding Bar Control -->
    <!-- Start: Top Menu -->
    <div id="top-menu">
      <div id="top-menu-inner">
        <div>
          <div id="divTopMenu">
            <table summary="Top menu">
              <tbody>
                <tr>
                  <td id="m1" class="first active"><a class="active" href="/">Home</a></td>
                  <td id="m2" class=""><a href="#">About</a></td>
                  <td id="m3" class=""><a href="#">Institutions</a></td>
                  <td id="m4" class=""><a href="{% url passport.views.event_calendar %}">Calendar</a></td>
                  <td id="m5" class=""><a href="#">Columns</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Top Menu -->
    <div id="Content">
 <!--right column-->
 	{% block wholerightcolsub %}
		<div id="rightcolsub">
			<div id="subticheader"> <a href="#">Sign Up for E-Tickets</a></div>
			<!--this will Automatically generate the most recent events.-->
			<div id="subticlist">
			{% load passport_tags %}
			{%block eventlist%}
				{% latest_events %}
				{% for obj in latest_events %}
					<a href="{% url passport.views.event_detail obj.id %}">{{obj.name}}</a><br />
					<p>{{obj.date|date:"N j, Y, P"}}, {{obj.venue}}</p>
				{% endfor %}
				<p><a href="{% url passport.views.event_calendar %}">View the Calendar > </a></p>
		 	{%endblock%}
		{%block rightcolsub %}
		{%endblock%}
		 </div>
		 <!-- end tix -->
		 <p><br class="clearfloat" />
	
	 <p><br class="clearfloat" />
		</p>
				<!--in the news-->
			<div id="related">
				<h3>Related Content</h3>
				<ul>
					{% load passport_tags %}
					{% latest_per_category %}
					{% for article in latest_articles %}
						<li><a href="{% url pages.views.details article %}">{{article.title}}</a></li>
					{% endfor %}
				</ul>
			</div><!--end in the news-->
		
		</div>
	{% endblock %}

	 <!--end right column-->
	<div id="leftcolsub">
    {% block leftcolsub%}
	{% endblock %}
	</div>
	<p>
         <!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats -->
      </p>
      <p><br class="clearfloat" />
      </p>
    </div>
    <!-- Start: Drexel Footer -->
    <div class="clear content-footer-separator">
      <!-- -->
    </div>
    <div id="footer"> <a href="http://www.drexel.edu/"><img 
src="/media/images/footer-image-drexel-university.png" class="png du" 
alt="Drexel University" width="117" height="16"></a> <img src="/media/images/footer-image-live-it.png" class="png live-it"
 alt="Live It" width="56" height="13">
      <p>Copyright © 2010, Drexel University, 3141 Chestnut Street, 
        Philadelphia, PA 19104, 215-895-2000, All Rights Reserved.</p>
    </div>
    <!-- End: Drexel Footer -->
    <!-- Start: Top Menu Drops Downs -->
    <div class="ddm m3">
      <ul class="dm">
        <li class="first"><a href="{% url passport.views.event_list %}">Performances and E-Tickets</a></li>
        <li><a href="{% url passport.views.venue_list %}">Museums and Visiting Centers</a></li>
        <li><a href="#">Institution Map</a></li>
      </ul>
    </div>
    <div class="ddm m5">
      <ul class="dm">
        {% load cache pages_tags %}
		{% load_pages %}
		{% for page in pages_navigation %}
 		   {% pages_menu page %}
		{% endfor %}
      </ul>
    </div>
    <!-- End: Top Menu Drops Downs -->
  </div>
</form>
<div id="ibox">
  <div id="ibox_overlay" style="display: none; opacity: 
0; background-image: url(&quot;/sc_scripts/ibox/images/bg.png&quot;); 
position: absolute; top: 0pt; left: 0pt; width: 100%;"></div>
  <div 
style="display: none;" id="ibox_loading">Loading...</div>
  <div 
style="position: absolute; top: 0pt; left: 0pt; display: none;" 
id="ibox_wrapper">
    <div style="overflow: auto;" id="ibox_content"></div>
    <div
 id="ibox_footer_wrapper"><a href="javascript:void(0)a">Close</a>
      <div 
id="ibox_footer">&nbsp;</div>
    </div>
  </div>
</div>
</body></html>
