{% extends 'passport/base.html' %}
{%block leftcolsub %}
{% for event in object_list %}
<div class="listblock">
	<div class="listpic">
		<a href="{% url passport.views.event_detail event.id %}"><img alt='' height='120' width='120' border="0" src='{{MEDIA_URL}}{{event.pic}}'/></a>
	</div>
    <div class="listtxt">
    	<div class="articlelead"><a href="{% url passport.views.event_detail event.id %}">{{event.name}} at {{event.venue}}</a></div>
    	<div class="leadbyline">{{event.date|date:"N j, Y, P"}}</div>
    </div>
</div>
{% endfor%}

{% endblock %}