{% extends "passport/base.html" %}
{% block leftcolsub %}
{% load pages_tags %}
{% load passport_tags %}

<h1>Your guide to Philadelphia's cultural scene.</h1>
{% for article in article_list %}
<div class="articleblock">
	<div class="articlesec_{{article.get_root.title|lower}}">
			<a style="font-size:18px;text-decoration:underline;color:#FFF " href="{% show_absolute_url article.get_root %}">{{article.get_root.title}}</a>
	</div>
	<div class="articlepic">
		<img height='120' width='120' src='/media/{% show_content article "homepage_image" %}'/>
	</div>
    <div class="articletxt">
    	<div class="articlelead"><a href="{% show_absolute_url article %}">{{article.title}}</a></div>
    	<div class="leadbyline">By {{article.author.first_name}} {{article.author.last_name}}</div>
    	<span class="leadbody"">{% show_content article "homepage_subheading"%} </span>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block wholerightcolsub %}
<div id="rightcol">
            
        
			<div id="ticpic"> <a href="#"><img width="125" height="69" border="0" src="media/images/tickets.png"></a></div>		
			<div id="ticheader"> <a href="{% url passport.views.event_list %}">Sign Up for E-Tickets</a></div>
          <!--this will Automatically generate the most recent events.-->
     <div id="ticlist"> 
     	{% latest_events %}
				{% for obj in latest_events %}
					<a href="{% url passport.views.event_detail obj.id %}">{{obj.name}}</a><br />
					<p>{{obj.date|date:"N j, Y, P"}}, {{obj.venue}}</p>
				{% endfor %}
				<p><a href="{% url passport.views.event_calendar %}">View the Calendar > </a></p>
   </div>
  
        <div id="slide"> <img width="320" height="200" border="0" src="media/images/slide.jpg"></div>
        <!--in the news-->
	 <p><br class="clearfloat" />
		</p>
				<!--in the news-->
			<div id="related">
				<h3>In The News</h3>
				<ul>
					{% news_links  %}
					{% for news in news_links %}
						<li><a href="{{news.url}}">{{news.title}}</a></li>
					{% endfor %}
				</ul>
			</div><!--end in the news-->
    
      </div>
{% endblock %}