{% extends 'passport/base.html' %}

{% block leftcolsub %}
<div class='subarticletxt'>
	<div id='eticket'>E-Ticket Confirmation</div>
</div>
<h2>{{object.ticket.event}}</h2>
<p>
{{object.ticket.event.date|date:"N j, Y, P"}}<br />
{{object.ticket.event.venue.name}}<br />
{{object.ticket.event.venue.phone}}<br />
<a href="{{object.ticket.event.venue.url}}">{{object.ticket.event.venue.url}}</a><br />
{{object.ticket.event.venue.address}}<br />
{{object.ticket.event.venue.city}},
{{object.ticket.event.venue.state}}<br />
{{object.ticket.event.venue.zip}}<br />
</p>
{{object.user.firstname}}
{{object.user.lastname}}

<div class="ticketdetail">This is your e-Ticket (#{{object.id}}). <strong>Be sure to print it</strong>, and present it along with your Student ID, and your Cultural Passport when attending the performance. <br/><br/><em><strong>Please Note: you will not be able to return to this page. Please print this page now or save this page as a screenshot if you do not have a printer available at this time</strong></em>.</div>
{% endblock %}