 {% extends "passport/base.html" %}
 
 {% block head %}
 <script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
	var map;
  function initialize() {
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
  }

</script>
 
 {% endblock%}
 {% block rightcolsub%}
	<h3>Directions</h3>
	 <a href="http://maps.google.com/maps?&q={{object.apiaddr}}"><img src="http://maps.google.com/maps/api/staticmap?zoom=14&markers={{object.apiaddr}}&size=220x220&sensor=false
"/></a>
{%endblock%}
{%block leftcolsub %}
<h1>{{object.name}}</h1>
	<div id="vencolright">
		<h3>Hours of Operation</h3>
		<p>Monday-Friday: {{object.weekday_hours}}<br/>
		Saturday-Sunday: {{object.weekend_hours }}</p>
		<h3>Cost</h3>
		<p>${{object.cost}}</p></div>
		<div id="vencolleft">
					<div id="venuepic">
				<img src="{{ MEDIA_URL }}{{object.pic}}" border="0" width="220" height="220"/>
			</div>
		{{object.phone}}<br/>

	<a href="{{object.url}}">{{object.url}}</a>
	<h3>Location</h3>
	<p>
		{{object.address}}<br />
		{{object.city}},{{object.state}},{{object.zip}}<br />
	</p>

 <p><br class="clearfloat" />
	</p> 
	 <h3>About</h3>
	<p>{{object.about_text}}</p>
<h3>Student Perspectives</h3>
	<p>{{object.student_perspectives_text}}</p>
</div>
	<!-- end #mainContent -->
{% endblock %}
