 {% extends "passport/base.html" %}
 
 {% block head %}
 <script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
	var map;
  function initialize() {
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
  }

</script>
 
{% endblock%}
{%block eventlist%}
 	<h4> Upcoming events at {{object.name}}</h4>
 	{% for event in object.event_set.all %}
		<a href="{% url passport.views.event_detail event.id %}">{{event.name}}</a><br />
		<p>{{event.date|date:"N j, Y, P"}}</p> 	
	{% endfor %}
 
{% endblock %}
{% block rightcolsub%}
	<h3>Directions</h3>
	 <a href="http://maps.google.com/maps?&amp;q={{object.apiaddr}}"><img alt='' src="http://maps.google.com/maps/api/staticmap?zoom=14&amp;markers={{object.apiaddr}}&amp;size=220x220&amp;sensor=false"/></a>
{%endblock%}
{%block leftcolsub %}
<h1>{{object.name}}</h1>
	<div class="vencolright">
		<h3>Hours of Operation</h3>
		{{object.hours|safe}}
		<h3>Cost</h3>
		<p>{{object.cost|safe}}</p></div>
		<div class="vencolleft">
					<div class="venuepic">
				<img alt='' src="{{ MEDIA_URL }}{{object.pic}}" border="0" />
			</div>
		{{object.phone}}<br/>

	<a href="{{object.url}}">{{object.url}}</a>
	<h3>Location</h3>
	<p>
		{{object.address}}<br />
		{{object.city}},{{object.state}}<br />
		{{object.zip}}<br />
	</p>

 <p><br class="clearfloat" />
	</p> 
	 <h3>About</h3>
	{{object.about_text|safe}}
<h3>Student Perspectives</h3>
	{{object.student_perspectives_text|safe}}
</div>
	<!-- end #mainContent -->
{% endblock %}
